.hero {
  position: relative;
  width: 80%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0 2rem 2rem 2rem;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
  width: 90%;
  gap: 10px;
}

.hero-image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.hero-text-container {
  display: flex;
  justify-content: flex-end;
}

.hero-text {
  width: 80%;
  font-family: "Minion Variable";
  font-size: 14px;
  font-style: italic;
  text-align: justify;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 2rem;
}

.arrowIcon {
  padding: 1rem 0 1rem 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .responsiveArrowIcon {
    max-height: 50%;
  }

  .hero-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .hero-text-container {
    justify-content: center;
  }

  .hero-text {
    width: 100%;
    font-size: 18px;
  }
}

/* For even smaller screens */
@media (max-width: 480px) {
  .hero-text {
    font-size: 16px;
  }

  .hero {
    padding: 0 1rem 1rem 1rem;
  }
}
